{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<!--/ Services Star /-->
<section class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">{{ estate.name }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Services End /-->
{% endblock %}