{% extends 'base.html' %}
{% load widget_tweaks %}
{% load property_extras %}
{% load static %}
{% block content %}

<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">{{ estate.name }}</h1>
          <span class="color-text-a">{{ estate.locations }}</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ estate.name }}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

 <!--/ Property Single Star /-->
 <section class="property-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
          {% for pic in estate_gallery %}
          <div class="carousel-item-b">
            <img src="{{ pic.image.url }}" alt="">
          </div>
          {% endfor %}
        </div>
        <div class="row justify-content-between">
          <div class="col-md-5 col-lg-4">
            <div class="property-price d-flex justify-content-center foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="ion-money">Rp</span>
                </div>
                <div class="card-title-c align-self-center">
                  <h5 class="title-c">{% calculate_price estate.price %}</h5>
                </div>
              </div>
            </div>
            <div class="property-summary">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d section-t4">
                    <h3 class="title-d">Spesifikasi</h3>
                  </div>
                </div>
              </div>
              <div class="summary-list">
                <ul class="list">
                  <li class="d-flex justify-content-between">
                    <strong>Location:</strong>
                    <span>{{ estate.locations }}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Property Type:</strong>
                    <span>House</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Status:</strong>
                    <span>{{ estate.state }}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Area:</strong>
                    <span>{% calculate_area estate.lot_length estate.lot_width %}
                    </span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Beds:</strong>
                    <span>{{ estate.bedroom }}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Baths:</strong>
                    <span>{{ estate.bathroom }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-7 section-md-t3">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Deskripsi Property</h3>
                </div>
              </div>
            </div>
            <div class="property-description">
              <p class="description color-text-a">
                {{ estate.description }}
              </p>
            </div>
            <div class="row section-t3">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Detail Pembayaran</h3>
                </div>
              </div>
            </div>
            <div class="payment-detail">
              <div class="row">
                <div class="col-4"><span>Uang Muka</span></div>
                <div class="col-4"><span>Tenor</span></div>
                <div class="col-4"><span>Cicilan</span></div>
              </div>
              {% for item in estate_details %}
              <div class="row">
                <div class="col-4">{% set_currency 'IDR' 'id' item.down_payment %}</div>
                <div class="col-4">{{ item.tenor }}</div>
                <div class="col-4">{% set_currency 'IDR' 'id' item.installment %}</div>
              </div>
              {% endfor %}
            </div>
            <div class="row section-t3">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Fasilitas</h3>
                </div>
              </div>
            </div>
            <div class="amenities-list color-text-a">
              <ul class="list-a no-margin">
                {% for item in estate_amenity %}
                <li>{{ item.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row section-t3 pull-right">
          {% if estate.state == 'booked' %}
          <a href="{% url 'purchase_form' estate.pk %}" class="btn btn-a">Lunasi</a>
          {% elif estate.state == 'available' %}
          <a href="{% url 'purchase_form' estate.pk %}" class="btn btn-a">Transaksi</a>
          {% endif %}
        </div>
      </div>
    </div>

    </div>
  </div>
</section>
<!--/ Property Single End /-->

{% endblock %}