{% extends 'base.html' %}
{% load widget_tweaks %}
{% load property_extras %}
{% load static %}
{% block content %}

<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">{{ estate.name }}</h1>
          <span class="color-text-a">{{ estate.locations }}</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ estate.name }}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

 <!--/ Property Single Star /-->
 <section class="property-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
          {% for pic in estate_gallery %}
          <div class="carousel-item-b">
            <img src="{{ pic.image.url }}" alt="">
          </div>
          {% endfor %}
        </div>
        <div class="row justify-content-between">
          <div class="col-md-5 col-lg-4">
            <div class="property-price d-flex justify-content-center foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="ion-money">Rp</span>
                </div>
                <div class="card-title-c align-self-center">
                  <h5 class="title-c">{% calculate_price estate.price %}</h5>
                </div>
              </div>
            </div>
            <div class="property-summary">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d section-t4">
                    <h3 class="title-d">Spesifikasi</h3>
                  </div>
                </div>
              </div>
              <div class="summary-list">
                <ul class="list">
                  <li class="d-flex justify-content-between">
                    <strong>Location:</strong>
                    <span>{{ estate.locations }}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Property Type:</strong>
                    <span>House</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Status:</strong>
                    <span>{{ estate.state }}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Area:</strong>
                    <span>{% calculate_area estate.lot_length estate.lot_width %}
                    </span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Beds:</strong>
                    <span>{{ estate.bedroom }}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Baths:</strong>
                    <span>{{ estate.bathroom }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-7 section-md-t3">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Form Transaksi</h3>
                </div>
              </div>
            </div>
            <div class="property-description">
              <form class="form"
                action="{% url 'purchase_form' estate.pk %}"
                method="POST"
                role="form"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div id="errormessage">{{ message }}</div>
                <div class="row mt-3">
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <label for="customer">Nama Customer</label>
                      <input type="text"
                        name="customer"
                        class="form-control form-control-lg form-control-a"
                        id="customer"
                        value="{{ customer.fullname }}"
                        readonly>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <label for="estate">Nama Property</label>
                      <input type="text"
                        name="estate"
                        class="form-control form-control-lg form-control-a"
                        id="estate"
                        value="[{{ estate.lot_type }}] {{ estate.name }}"
                        readonly>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <label for="down_payment">Uang Muka</label>
                      <select name="down_payment"
                        id="down_payment"
                        class="form-control form-control-lg form-a"
                        {% if purchase.state == 'draft' %} readonly {% endif %}>
                        
                        {% if purchase.state == 'draft' %}
                          <option value="{{ purchase.down_payment_id.id }}" selected>{{ purchase.down_payment }}</option>
                        {% else %}
                          {% for est in estate_details %}
                          <option value="">-</option>
                          <option value="{{ est.pk }}">{{ est.down_payment }}</option>
                          {% endfor %}
                        {%endif%}

                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="tenor">Tenor</label>
                      <input name="tenor"
                        id="tenor"
                        class="form-control form-control-lg form-a"
                        value="{{ purchase.tenor }}"
                        readonly />
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="installment">Angsuran</label>
                      <input name="installment"
                        id="installment"
                        class="form-control form-control-lg form-a"
                        value="{{ purchase.installments }}"
                        readonly />
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <label for="proof">Bukti pembayaran</label>
                      <input type="file"
                        name="proof"
                        class="form-control form-control-lg form-control-a"
                        id="proof">
                      {% if purchase.proof %}
                      <a href="{{ purchase.proof.url }}">{{ purchase.proof.url }}</a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="col-md-12">
                    <button type="submit" class="btn btn-a">Bayar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</section>
<!--/ Property Single End /-->
<script>
  const downPayment = document.querySelector('#down_payment');
  const tenor = document.querySelector('#tenor');
  const installment = document.querySelector('#installment');

  document.addEventListener('DOMContentLoaded', () => {

    downPayment.addEventListener('change', () => {
      let idDetail = parseInt(downPayment.value);
      fetch(`/get_detail_purchasement/${idDetail}`)
        .then(res => res.json())
        .then(data => {
          tenor.value = data.tenor;
          installment.value =  data.installments;
        })
        .catch(err => console.error(err));
    });

  });
</script>
{% endblock %}