{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Tentang Kami</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Tentang Kami
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ About Star /-->
<section class="section-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about-img-box">
          <img src="{% static 'img/slide-1.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="sinse-box">
          <h3 class="sinse-title">EstateAgency
            <span></span>
            <br> Sinse 2017</h3>
          <p>Art & Creative</p>
        </div>
      </div>
      <div class="col-md-12 section-t8">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <img src="{% static 'img/SIUP4.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 col-lg-7 section-md-t3">
            <div class="title-box-d">
              <h3 class="title-d">
                SIGER PROPERTY MILIKI <span class="color-d">SIUP4</span>
                <br><small>(Surat Izin Usaha Perantara Perdagangan Properti)</small>
              </h3>
            </div>
            <p class="color-text-a">
              Sebagai perusahan broker properti yang berbadan hukum , tentunya harus memiliki legalitas yang diperlukan dalam menjalankan usaha dan juga demi ketertiban bagi semua pelaku usaha. Broker properti atau agent properti yang bergerak dalam bidang jasa pemasaran properti juga dituntut untuk memiliki legalitas yang harus dipenuhi sesuai dengan aturan pemerintah. Salah satunya yakni Surat Izin Usaha Perantara Perdagangan Properti (SIU-P4) diatur dalam Peraturan Menteri Perdagangan Nomor 51/M-DAG/PER/7/2017 tentang Perusahaan Perantara Perdagangan Properti. Regulasi ini juga mengatur setiap aktifitas perusahaan maupun pribadi yang meakukan jasa perdagangan/penyewaan properti (Perusahaan Perantara Perdagangan Properti (P4) wajib memiliki Surat Izin Usaha (SIU-P4), jika tidak dapat sangsi pidana 4 tahun/denda 10 miliar.
            </p>
            <p class="color-text-a">
              Siger Property (PT Sigerindo Mulya Madani) telah memiliki SIU-P4 tertanggal 4 Agustus 2020 dengan Nomor 54.SIU-P4.0820 yang diperoleh dari Direktorat Jenderal perdagangan dalam negeri yang di TTD oleh direktur bina usaha dan pelaku distribusi.
            </p>
            <p class="color-text-a">
              Semua persyaratan dalam pengurusan SIU-P4 sudah kami penuhi seperti akta perusahaan, NIB, NPWP, dan staf ahli (agen tersertifikasi oleh BNSP) yang disyaratkan minimal 2 orang. Dengan terbitnya SIU-P4 ini, maka Siger Property akan lebih tenang dalam menjalankan pekerjaannya, begitupun bagi semua marketing/agent yang tergabung di dalamnya juga bisa nyaman dalam bekerja. disamping legalitas perusahaan sudah memenuhi syarat agen/marketing Siger Property bekerja secara professional dan dibuktikan oleh Sertifikat Kompetensi Profesi Agen Properti dari BNSP.
            </p>
            <p class="color-text-a">
              Dari sisi konsumen, memilih agent properti yang sudah memiliki SIU-P4 adalah syarat mutlak, agar semua transaksi bisa ditangani secara profesional, aman dan legal. Maka sebelum bertransaksi pastikan terlebih dahulu Agent properti yang Anda gunakan memiliki SIU-P4 dan sertifikat kompetensi profesi agent properti. Siger Property bisa menjadi pilihan terbaik untuk Agent property di Lampung.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ About End /-->


{% endblock %}