{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div>
  <div class="col-sm-12 section-t8">
    <div class="row">
      <div class="container">
        <div class="mt-3">
          <h3 class="text-center">Data Pribadi</h3>
        </div>
        <form class="form" action="{% url 'criteria' %}" method="POST" role="form">
          {% csrf_token %}
          <div id="errormessage">{{ message }}</div>
          <div class="form-group">
            {{ form.address.errors }}
            <label for="{{ form.address.id_for_label }}" class="control-label">{{ form.address.label }}</label>
            {{ form.address|add_class:'form-control form-control-lg form-control-a' }}
          </div>
          <div class="form-group">
            {{ form.phone.errors }}
            <label for="{{ form.phone.id_for_label }}" class="control-label">{{ form.phone.label }}</label>
            {{ form.phone|add_class:'form-control form-control-lg form-control-a' }}
          </div>
          <div class="form-group">
            {{ form.job_ktp.errors }}
            <label for="{{ form.job_ktp.id_for_label }}" class="control-label">{{ form.job_ktp.label }}</label>
            {{ form.job_ktp|add_class:'form-control form-control-lg form-control-a' }}
          </div>
          <div class="form-group">
            {{ form.salary.errors }}
            <label for="{{ form.salary.id_for_label }}" class="control-label">{{ form.salary.label }}</label>
            {{ form.salary|add_class:'form-control form-control-lg form-control-a' }}
          </div>
          <div class="form-group">
            {{ form.on_loan.errors }}
            <label for="{{ form.on_loan.id_for_label }}" class="control-label">{{ form.on_loan.label }}</label>
            {{ form.on_loan|add_class:'form-control form-control-lg form-control-a' }}
          </div>
          <div class="form-group">
            {{ form.loan_state.errors }}
            <label for="{{ form.loan_state.id_for_label }}" class="control-label">{{ form.loan_state.label }}</label>
            {{ form.loan_state|add_class:'form-control form-control-lg form-control-a' }}
          </div>
          <div class="form-group">
            {{ form.start_budget.errors }}
            <label for="{{ form.form.id_for_label }}" class="control-label">{{ form.form.label }}</label>
            {{ form.start_budget|add_class:'form-control form-control-lg form-control-a' }}
          </div>
          <div class="form-group">
            {{ form.end_budget.errors }}
            <label for="{{ form.end_budget.id_for_label }}" class="control-label">{{ form.end_budget.label }}</label>
            {{ form.end_budget|add_class:'form-control form-control-lg form-control-a' }}
          </div>
          <div class="mt-3">
            <div class="form-group">
              <input type="submit" class="btn btn-a" value="Kirim">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
