{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<!--/ Carousel Star /-->
<div class="intro intro-carousel">
  <div id="carousel" class="owl-carousel owl-theme">
    {% for est in estates %}
    <div
      class="carousel-item-a intro-item bg-image"
      style="background-image: url('{{ est.picture }}')"
    >
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">
                    {{ est.locations }} <br />
                    {{ est.lot_length }} x {{ est.lot_width }}
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b">{{ est.lot_type }}</span> <br />
                    {{ est.name }}
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">beli | IDR {{ est.price }}</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!--/ Carousel end /-->

<!--/ Services Star /-->
<section class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Pilih Kriteria</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <form class="form-a">
        {% csrf_token %}
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="{% render_field estate_forms.name.id_for_label %}">
                {% render_field estate_forms.name.label %}
              </label>
              {% render_field estate_forms.name class+='form-control' %}
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="{% render_field estate_forms.lot_type.id_for_label %}">
                {% render_field estate_forms.lot_type.label %}
              </label>
              {% render_field estate_forms.lot_type class+='form-control' %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label for="{% render_field estate_forms.lot_length.id_for_label %}">
                {% render_field estate_forms.lot_length.label %}
              </label>
              {% render_field estate_forms.lot_length class+='form-control' %}
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="{% render_field estate_forms.lot_width.id_for_label %}">
                {% render_field estate_forms.lot_width.label %}
              </label>
              {% render_field estate_forms.lot_width class+='form-control' %}
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="{% render_field estate_forms.price.id_for_label %}">
                {% render_field estate_forms.price.label %}
              </label>
              {% render_field estate_forms.price class+='form-control' %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label for="{% render_field estate_forms.bedroom.id_for_label %}">
                {% render_field estate_forms.bedroom.label %}
              </label>
              {% render_field estate_forms.bedroom class+='form-control' %}
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="{% render_field estate_forms.bathroom.id_for_label %}">
                {% render_field estate_forms.bathroom.label %}
              </label>
              {% render_field estate_forms.bathroom class+='form-control' %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="{% render_field estate_forms.description.id_for_label %}">
                {% render_field estate_forms.description.label %}
              </label>
              {% render_field estate_forms.description class+='form-control' rows='5' %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="{% render_field estate_forms.locations.id_for_label %}">
                {% render_field estate_forms.locations.label %}
              </label>
              {% render_field estate_forms.locations class+='form-control' rows='5' %}
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-b">Search Property</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!--/ Services End /-->

<!--/ Property Star /-->
<section class="section-property section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Property Terbaru</h2>
          </div>
          <div class="title-link">
            <a href="property-grid.html"
              >Semua Property
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="property-carousel" class="owl-carousel owl-theme">
      {% for est in estates %}
      <div class="carousel-item-b">
        <div class="card-box-a card-shadow">
          <div class="img-box-a">
            <img src="{{ est.picture.url }}" alt="" class="img-a img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a href="property-single.html"
                    >{{ est.lot_type }} <br />
                    {{ est.name }}</a
                  >
                </h2>
              </div>
              <div class="card-body-a">
                <div class="price-box d-flex">
                  <span class="price-a">beli | IDR {{ est.price }}</span>
                </div>
                <a href="#" class="link-a"
                  >Click here to view
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
              <div class="card-footer-a">
                <ul class="card-info d-flex justify-content-around">
                  <li>
                    <h4 class="card-info-title">Area</h4>
                    <span
                      >340m
                      <sup>2</sup>
                    </span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Beds</h4>
                    <span>2</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Baths</h4>
                    <span>4</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Garages</h4>
                    <span>1</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!--/ Property End /-->
{% endblock %}