{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div style="background-color: #2eca6a;height: 100vh;">
  <div class="col-sm-12 section-t8">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="row">
            <div class="col-5">
              <div id="register-image"></div>
            </div>
            <div class="col-7">
              <div class="card-body">
                <div class="icon-box section-b2">
                  <form class="form"
                    action="{% url 'register_client' %}"
                    method="POST"
                    role="form">
                    {% csrf_token %}
                    <div id="errormessage">
                      {% if message %}
                        {% if status == 'warning' %}
                          <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        {% elif status == 'error' %}
                          <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        {% endif %}
                      {% endif %}
                    </div>
                      <div class="row">
                        <div class="col-12 text-center">
                          <h4 class="icon-title mt-3">Buat Akun</h4>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-12">
                          {{ form.errors.email }}
                          {{ form.email.label }}
                          {% render_field form.email class+='form-control form-control-lg form-control-a' placeholder=form.email.label %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-12">
                          {{ form.errors.fullname }}
                          {{ form.fullname.label }}
                          {% render_field form.fullname class+='form-control form-control-lg form-control-a' placeholder=form.fullname.label %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-12">
                          {{ form.errors.password }}
                          {{ form.password.label }}
                          {% render_field form.password class+='form-control form-control-lg form-control-a' placeholder=form.password.label %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-12">
                          {{ form.errors.password_repeat }}
                          {{ form.password_repeat.label }}
                          {% render_field form.password_repeat class+='form-control form-control-lg form-control-a' placeholder=form.password_repeat.label %}
                        </div>
                      </div>
                      
                      <div class="row mt-3">
                        <div class="col-12">
                          <button type="submit" class="btn btn-a" style="width: 100%;">Daftar</button>
                        </div>
                        <div class="col-12 text-center" style="margin: 0.5rem auto;">
                          - atau -
                        </div>
                        <div class="col-12">
                          <!-- <button type="submit" class="btn btn-a" style="width: 100%;">Daftar</button> -->
                          <a href="{% url 'login_client' %}" class="btn btn-warn" style="width: 100%;">Login</a>
                        </div>

                        <!-- &nbsp;atau&nbsp;
                         -->
                      </div>
                  </form>
                </div>
                    
                  <!-- <div class="col-6">
                    <div class="row">
                      <div class="form-group col-12">
                        {# form.address.error #}
                        {# form.address.label #}
                        {# render_field form.address class+='form-control form-control-lg form-control-a' placeholder=form.address.label #}
                      </div>
                    </div>
                    <div class="row col-12">
                      <div class="form-group">
                        {# form.phone.error #}
                        {# form.phone.label #}
                        {# render_field form.phone class+='form-control form-control-lg form-control-a' placeholder=form.phone.label #}
                      </div> 
                    </div>
                    <div class="row col-12">
                      <div class="form-group">
                        {# form.job_ktp.error #}
                        {# form.job_ktp.label #}
                        {# render_field form.job_ktp class+='form-control form-control-lg form-control-a' placeholder=form.job_ktp.label #}
                      </div>
                    </div>
                    <div class="row col-12">
                      <div class="form-group">
                        {# form.salary.error #}
                        {# form.salary.label #}
                        {# render_field form.salary class+='form-control form-control-lg form-control-a' placeholder=form.salary.label #}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-check col-6">
                        {# form.on_loan.error #}
                        {# render_field form.on_loan class+='form-check-input form-control-a' placeholder=form.on_loan.label #}
                        {# form.on_loan.label #}
                      </div>
                      <div class="form-group col-6">
                        {# form.loan_state.error #}
                        {# form.loan_state.label #}
                        {# render_field form.loan_state class+='form-control form-control-lg form-control-a' placeholder=form.loan_state.label #}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-6">
                        {# form.start_budget.error #}
                        {# form.start_budget.label #}
                        {# render_field form.start_budget class+='form-control form-control-lg form-control-a' placeholder=form.start_budget.label #}
                      </div>
                      <div class="form-group col-6">
                        {# form.end_budget.error #}
                        {# form.end_budget.label #}
                        {# render_field form.end_budget class+='form-control form-control-lg form-control-a' placeholder=form.end_budget.label #}
                      </div>
                    </div>
                  </div> -->
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
